<!DOCTYPE html>
<html>
    <head>
        <title>Your Dataseum Experience | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/info.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 50px;"><%- include('../includes/dataseumtitle'); %></div>
            <h1 class="title3" style="display: none;">Session: <%= sessionId %></h1><hr>

            <div>
                <a href="/scanner" class="button green">Scan a QR code</a>
            </div>
            <h2 style="margin-left: 25px; margin-right: 25px;">Your Dataseum experience:</h2>
            <div class="exhibit-list">
                <% Object.entries(exhibitsVisited).forEach(([exhibit, visited]) => { %>
                    <div class="exhibit-item <%= visited ? 'visited' : 'not-visited' %>">
                        <img src="/img/exhibit/<%= exhibit %>.png" alt="<%= exhibit %>">
                        <p><%= exhibitNames[exhibit] %></p>
                        <p class="<%= visited ? 'visited-text' : 'not-visited-text' %>"><%= visited ? 'Visited' : 'Not visited' %></p>
                    </div>
                <% }); %>
            </div>

            <div style="margin-top: 50px; margin-bottom: 30px;">
                <a href="/finish" class="button red">Finalize your experience</a>
            </div>
        </div>

        <script>console.log("<%= exhibitsVisited['oceans'] %>")</script>
    </body>
</html>