<!DOCTYPE html>
<html>
    <head>
        <title>You've joined the map! | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/data.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/info.css">
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <div style="margin-top: 80px;"><%- include('../includes/dataseumtitle'); %></div>
            <h1 class="title3" style="display: none;">Session: <%= sessionId %></h1><hr>
            <div class="info" style="margin-left: 50px; margin-right: 50px;">
                <p>Your dot has been added! You have become the data.</p>
                <p>Visit the Becoming The Data booth and find your dot on the map.</p>
                <a style="margin-top: 20px;" href="/profile/<%= sessionId %>" class="button blue">View your data profile</a>
                <a href="/map" class="button red">View mobile map.</a>
            </div>
            <%- include('../includes/tiltedbar1'); %>
        </div>
    </body>
</html>