<!DOCTYPE html>
<html>
    <head>
        <title>Atlanta Map | GT Dataseum</title>
        <%- include('../includes/head'); %>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/map.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin="">
            </script>
    </head>

    <body>
        <div class="logo">
            <img src="/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content full">
            <div class="maptitle">
                <h1 id="title" class="title2">
                    DATASEUM <img id="te1" class="textend" src="/img/3squares.png"><img id="te2" class="textend" src="/img/3squares_inverse.png">
                </h1>
                <h1 id="title" class="title2" style="font-size: 20px;">
                    Becoming The Data - Live Map
                </h1>
            </div>
            <div id="map"></div>
            <div id="tooltip-container">
                <button id="tooltip-toggle">?</button>
                <p id="tooltip-text">Each dot on this map is an anonymous visitor of the DATASEUM <img style="height: 15px; width: 10px;" src="/img/3squares.png"> museum exhibit hosted in Georgia Tech's Price Gilbert Library.<br><br>Explore the map and click on the dots to learn a bit about that visitor's data profile.</p>
            </div>
        </div>

        <script>
            var dotMarkers = [];
            var map;
           document.addEventListener('DOMContentLoaded', function () {
            map = L.map('map', {
                minZoom: 8,
            }).setView([33.749, -84.388], 13); // Atlanta coordinates
            
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            map.getContainer().style.filter = 'saturate(0.5)';

            // dots
            <% dots.forEach(dot => { %>
                var dotMarker = L.circleMarker([<%= dot.longitude %>, <%= dot.latitude %>], {
                    color: '#<%= dot.colorHex %>',
                    fillColor: '#<%= dot.colorHex %>',
                    fillOpacity: 0.7,
                    radius: 8
                }).addTo(map);

                dotMarker.on('mouseover', function (event) {
                    event.target.setStyle({ fillOpacity: 1.0 });
                });

                dotMarker.on('mouseout', function (event) {
                    event.target.setStyle({ fillOpacity: 0.7 });
                });

                dotMarker.bindPopup(`
                    <div class=popupcustom>
                    <img src="/img/personalities/<%= dot.group %>.png" style="width: 150px; height: auto"><br>
                    <% if (dot.visitorData.exhibitsvisited.oceans) { %>
                        <canvas id="fishCanvas<%= dot.sessionId %>" class="fishCanvas" width="300" height="300"></canvas>
                        <h2 class="fishName"><%= dot.visitorData.exhibitinfo.oceans.name %></h2>
                    <% } %>
                    <p>Created: ${new Date(<%= dot.timestamp %>).toLocaleString()}</p>
                    </div>
                `);

                dotMarkers.push(dotMarker);

                // draw fish
                dotMarker.on('popupopen', function () {
                    if (<%= dot.visitorData.exhibitsvisited.oceans %>) {
                        var imageData = "<%= dot.visitorData.exhibitinfo.oceans.canvas %>";
                        var canvas = document.getElementById('fishCanvas<%= dot.sessionId %>');
                        var ctx = canvas.getContext('2d');
                        var img = new Image();
                        img.onload = function() {
                            ctx.drawImage(img, 0, 0);
                        };
                        img.src = imageData;
                    }
                });



            <% }); %>
        });
    
        </script>
        <script src="/js/map.js"></script>
    </body>
</html>