<!DOCTYPE html>
<html>
    <head>
        <title>GT Dataseum</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="Ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/public/img/dataseum_logo.png" type="image/png">
        <script src="/public/js/main.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/data.css">

        <script src="/public/js/firebase.js"></script>

    </head>

    <body>
        <div class="logo">
            <img src="/public/img/transparent_logo.svg" alt="Logo">
        </div>
        <div id="content" class="center">
            <h1>Visitor Data</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Session ID</th>
                        <th>Active</th>
                        <th>End Time</th>
                        <th>Start Time</th>
                        <th>Score</th>
                        <th>Stations</th>
                    </tr>
                </thead>
                <tbody>
                    <% visitors.forEach(visitor => { %>
                        <tr>
                            <td><%= visitor.name %></td>
                            <td><%= visitor.sessionid %></td>
                            <td><%= visitor.active %></td>
                            <td><%= visitor.endtime %></td>
                            <td><%= visitor.starttime %></td>
                            <td><%= visitor.score %></td>
                            <td><%= visitor.stations.join(', ') %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <script>
            async function displayVisitors() {
                const response = await fetch('/data');
                const data = await response.json();
                console.log(data); // Log the visitor data to console
            }
            displayVisitors();
        </script>
    </body>
</html>